<div class="projects-container">
  <div class="card-container">
    <div class="card">
      <div class="front-card">
        <h1>Barbershop Website</h1>
        <img class="img-barbershop" src="../../../assets/barberia1.png" alt="Barbershop">

      </div>

      <div class="back-card">
        <a href="https://github.com/Jhneira/Barbershop" target="_blank">Code</a>
      </div>
    </div>

    <div class="card">
      <div class="front-card">
        <h1>Pokédex</h1>
        <img class="img-pokedex" src="../../../assets/pokedex1.png" alt="Pokédex close">
        <img class="img-pokedex" src="../../../assets/pokedex2.png" alt="pokédex open">
      </div>

      <div class="back-card">
        <a href="https://github.com/Jhneira/Pokedex" target="_blank">Code</a>
      </div>
    </div>
  </div>


</div>
