<div class="container">
  <div class="skills-container">
    <div class="card-container">
      <div class="skill-card">
        <h1>Angular</h1>
        <img src="../../../assets/Angular.png" alt="angular">
      </div>
      <div class="nivel">
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
      </div>

    </div>

    <div class="card-container">
      <div class="skill-card">
        <h1>HTML</h1>
        <img src="../../../assets/Html.png" alt="html">
      </div>
      <div class="nivel">
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
      </div>

    </div>

    <div class="card-container">
      <div class="skill-card">
        <h1>CSS</h1>
        <img src="../../../assets/Css.png" alt="css">
      </div>
      <div class="nivel">
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
      </div>

    </div>

    <div class="card-container">
      <div class="skill-card">
        <h1>JavaScript</h1>
        <img src="../../../assets/JavaScript.png" alt="javaScipt">
      </div>
      <div class="nivel">
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar" class="fullStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
        <fa-icon [icon]="faStar"> </fa-icon>
      </div>

    </div>



  </div>

</div>

